<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Mash</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-gray-100">
    <header class="bg-blue-900 text-white">
        <div class="container mx-auto flex flex-col items-center justify-center h-screen p-4 text-center">
            <h1 class="text-4xl md:text-6xl font-bold mb-4">HIIIIIII, Welcome to MemeMash</h1>
            <p class="text-lg md:text-2xl mb-8">Vote for the goofiest reel/video you see</p>
            <a href="/vote" class="bg-orange-400 text-black font-bold py-2 px-4 rounded-full hover:bg-orange-500 transition duration-300">
                Vote
            </a>
            <a href="/leaderboard" class="mt-10 bg-black text-white font-bold py-2 px-4 rounded-full hover:bg-orange-500 transition duration-300">
                Or Check The leaderboard
            </a>
        </div>
    </header>
</body>
</html>